.fleche {
    opacity: 0;
    animation: down 1s infinite linear alternate;
    animation-delay: 1s;
    background-image: linear-gradient(to top,rgb(106, 78, 72) 30%,rgb(65, 200, 254));
    fill: transparent;
    stroke: white;
    stroke-width: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .fleche:hover {
    animation-play-state: paused;
  }

  @keyframes down{
    0% {position:relative; top:0px; opacity: 0.2}
    50% {position:relative; top:15px; opacity: 0.5}
    100% {position:relative; top:30px; opacity: 1}
  }