.plus__svg {
    position: absolute;
    font-size: 40px;
    fill: white;
    cursor: pointer;
    z-index: 1;
}

.plus--top {
    top: 60%;
    left: 43%;
}

.plus--bottom {
    top: 25%;
    left: 43%;
}