.plus__svg {
    position: absolute;
    font-size: 40px;
    fill: white;
    cursor: pointer;
    z-index: 1;
}

.plus--top {
    top: 60%;
    left: 43%;
}

.plus--bottom {
    top: 25%;
    left: 43%;
}

@media screen and (max-width: 1000px) {
    .plus__svg {
        font-size: 32px;
    }
}

@media screen and (max-width: 900px) {
    .plus__svg {
        font-size: 28px;
    }
}

@media screen and (max-width: 650px) {
    .plus__svg {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    .plus__svg {
        font-size: 20px;
    }
}

@media screen and (max-width: 440px) {
    .plus__svg {
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
    .plus__svg {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .plus__svg {
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {
    .plus__svg {
        font-size: 12px;
    }
}
