.skills {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(1, 54, 86);
    display: flex;
    flex-direction: column;

    .skills__info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(1, 54, 86);
        color: white;
        height: 30px;
        font-weight: bold;
        white-space: nowrap;
        margin-top: 140px;
        font-size: 20px;

        .skills__title {
            font-size: 20px;
        }
    }

    .skills__jo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        & img {
            width: 80%;
        }
    }

    .skills__wheels {
        display: flex;
        flex-direction: column;
    }

    .skills__citation {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        margin-bottom: 100px;

        .citation__texte {
            margin: 0 20px;
        }

        .citation__svg {
            fill: gold;
        }
    }
}

@media screen and (max-width: 950px) {
    .skills {
        width: 100%;
        min-height: 0;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 140px;
            font-size: 20px;
    
            .skills__title {
                font-size: 20px;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
    
            & img {
                width: 80%;
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            margin-bottom: 100px;
    
            .citation__texte {
                margin: 0 20px;
            }
    
            .citation__svg {
                fill: gold;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .skills {
        width: 100%;
        min-height: 0;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 150px;
            font-size: 20px;
    
            .skills__title {
                font-size: 20px;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
    
            & img {
                width: 80%;
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            line-height: 1.5; //
            
    
            .citation__texte {
                margin: 0 10px; //
            }
    
            .citation__svg {
                fill: gold;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .skills {
        width: 100%;
        min-height: 10;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 150px;
            font-size: 20px;
    
            .skills__title {
                font-size: 20px;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
    
            & img {
                width: 90%; //
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 14px;
            line-height: 1.5; //
    
            .citation__texte {
                margin: 0 10px; //
            }
    
            .citation__svg {
                fill: gold;
                font-size: 20px; //
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .skills {
        width: 100%;
        min-height: 0;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 150px;
            font-size: 20px;
    
            .skills__title {
                font-size: 20px;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0;
    
            & img {
                width: 100%; //
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 12px;
            line-height: 1.5; //
    
            .citation__texte {
                margin: 0 4px; //
            }
    
            .citation__svg {
                fill: gold;
                font-size: 30px; //
            }
        }
    }
}

.skills__type {
    color: rgb(65, 200, 254);
}

.skills__hook {
    color: rgb(247, 65, 65);
}

.blue {
    color: rgb(65, 200, 254);
}


