.skills {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(1, 54, 86);
    display: flex;
    flex-direction: column;

    .skills__info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(1, 54, 86);
        color: white;
        height: 30px;
        font-weight: bold;
        white-space: nowrap;
        margin-top: 140px;
        font-size: 20px;

        .skills__title {
            font-size: 24px;
            padding: 20px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border-top: 5px rgb(65, 200, 254) solid;
                border-left: 5px rgb(65, 200, 254) solid;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 20px;
                height: 20px;
                border-right: 5px rgb(247, 65, 65) solid;
                border-bottom: 5px rgb(247, 65, 65) solid;
            }
        }
    }

    .mern {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        padding: 0 20px;

        .mern__image {
            width: 20%;
        }

        .mern__definition {
            color: white;
            text-align: justify;
            margin-left: 40px;
            font-style: italic;
        }
    }

    .skills__jo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0;

        & img {
            width: 80%;
        }
    }

    .skills__wheels {
        display: flex;
        flex-direction: column;
    }

    .skills__citation {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        margin-bottom: 100px;

        .citation__texte {
            margin: 0 20px;
        }

        .citation__svg {
            fill: gold;
        }
    }
}

@media screen and (max-width: 950px) {
    .skills {
        width: 100%;
        min-height: 0;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 140px;
            font-size: 20px;
    
            .skills__title {
                font-size: 24px;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px 0;
    
            & img {
                width: 80%;
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            margin-bottom: 150px;
    
            .citation__texte {
                margin: 0 20px;
            }
    
            .citation__svg {
                fill: gold;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .skills {
        width: 100%;
        min-height: 0;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 150px;
            font-size: 20px;
    
            .skills__title {
                font-size: 24px;
            }
        }

        .mern {
            flex-direction: column;
            margin-top: 80px;
            
            .mern__image {

            }

            .mern__definition {
                margin-left: 0;
                text-align: center;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px 0;
    
            & img {
                width: 80%;
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            line-height: 1.5; //
            
    
            .citation__texte {
                margin: 0 10px; //
            }
    
            .citation__svg {
                fill: gold;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .skills {
        width: 100%;
        min-height: 10;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 150px;
            font-size: 20px;
    
            .skills__title {
                font-size: 24px;
            }
        }

        .mern {
            flex-direction: column;
            margin-top: 80px;
            
            .mern__image {
                width: 24%;
            }

            .mern__definition {
                
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px 0;
    
            & img {
                width: 90%; //
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 14px;
            line-height: 1.5; //
    
            .citation__texte {
                margin: 0 10px; //
            }
    
            .citation__svg {
                fill: gold;
                font-size: 20px; //
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .skills {
        width: 100%;
        min-height: 0;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 150px;
            font-size: 20px;
    
            .skills__title {
                font-size: 24px;
            }
        }

        .mern {
            flex-direction: column;
            margin-top: 80px;
            
            .mern__image {
                width: 26%;
            }

            .mern__definition {
                font-size: 14px;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px 0;
    
            & img {
                width: 100%; //
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 12px;
            line-height: 1.5; //
    
            .citation__texte {
                margin: 0 4px; //
            }
    
            .citation__svg {
                fill: gold;
                font-size: 30px; //
            }
        }
    }
}

.skills__type {
    color: rgb(65, 200, 254);
}

.skills__hook {
    color: rgb(247, 65, 65);
}

.blue {
    color: rgb(65, 200, 254);
}

#target--skills {
    position: absolute;
    bottom: 150px;
}

@media screen and (max-width: 450px) {
    .skills {
        width: 100%;
        min-height: 0;
        background-color: rgb(1, 54, 86);
        display: flex;
        flex-direction: column;
    
        .skills__info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(1, 54, 86);
            color: white;
            height: 30px;
            font-weight: bold;
            white-space: nowrap;
            margin-top: 150px;
            font-size: 20px;
    
            .skills__title {
                font-size: 24px;
            }
        }

        .mern {
            flex-direction: column;
            margin-top: 80px;
            
            .mern__image {
                width: 35%;
            }

            .mern__definition {
                font-size: 12px;
            }
        }
    
        .skills__jo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px 0;
    
            & img {
                width: 100%; //
            }
        }
    
        .skills__wheels {
            display: flex;
            flex-direction: column;
        }
    
        .skills__citation {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 12px;
            line-height: 1.5; //
    
            .citation__texte {
                margin: 0 4px; //
            }
    
            .citation__svg {
                fill: gold;
                font-size: 30px; //
            }
        }
    }
}

.skills__type {
    color: rgb(65, 200, 254);
}

.skills__hook {
    color: rgb(247, 65, 65);
}

.blue {
    color: rgb(65, 200, 254);
}

#target--skills {
    position: absolute;
    bottom: 150px;
}
