.skills {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(1, 54, 86);
    display: flex;
    flex-direction: column;
}

.skills__info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 54, 86);
    color: white;
    height: 30px;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 150px;
    font-size: 20px;
}

.skills__title {
    font-size: 20px;
}

.wheels {
    display: flex;
    flex-direction: column;
}

.citation {
    color: white;
    white-space: nowrap;
    display: flex;
    top: 365px;
    justify-content: center;
    align-items: center;
}

.citation__texte {
    margin: 0 20px;
}

.citation__svg {
    fill: gold;
}

.skills__type {
    color: rgb(65, 200, 254);
}

.skills__hook {
    color: rgb(247, 65, 65);
}

.blue {
    color: rgb(65, 200, 254);
}