.container__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container__home--image {
        position: relative;
        width: 100%;
        height: 100vh;
        
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        }
    
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            animation: opacity 2s ease-in-out forwards;
            animation-delay: 1s;
            z-index: 999;
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    .home__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 999;

        .name {
            font-size: 96px;
            margin-top: 50px;
            margin-bottom: 20px;
            color: rgb(132, 66, 26);
            text-shadow: 2px 2px 2px white;
        }

        .job {
            margin-top: 0;
            margin-bottom: 80px;
            font-size: 54px;
            text-align: center;
            color: rgb(132, 66, 26);
            text-shadow: 2px 2px 4px white;
        }
    }
}

@media screen and (max-width: 1000px) {
    .container__home {
        .home__content {
            .name {
                font-size: 78px; //
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .container__home {
        .home__content {
            top: 50px;
            .name {
                font-size: 72px; //
            }
    
            .job {
                margin-bottom: 100px;//
                font-size: 48px; //
            }
        }
    }
}

@media screen and (max-width: 710px) {
    .container__home {
        .home__content {   
            .name {
                font-size: 58px;
                margin-top: 80px;
            }
    
            .job {
                margin-bottom: 80px;//
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .container__home {
        .home__content {  
            .name {
                font-size: 72px;
                margin-top: 50px;
            }
    
            .job {
                font-size: 42px; //
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .container__home {
        .home__content {
            .name {
                font-size: 62px;
            }
    
            .job {
                font-size: 38px; //
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .container__home {
        .home__content {
            .name {
                font-size: 48px;
                margin-top: 80px;
            }
    
            .job {
                margin-bottom: 120px;
                font-size: 32px;
            }
        }
    }
}