.logo {
    &.home {
        img {
            width: 400px;
        }
    }

    &.logo--header {

    
        img {
            width: 100px;
        }
    }
}

@media screen and (max-width: 780px) {
    .logo {
        &.home {
            img {
                width: 340px; //
            }
        }
    
        &.logo--header {
            img {
                width: 80px;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .logo {
        &.home {
            img {
                width: 340px; //
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .logo {
        &.home {
            img {
                width: 300px; //
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .logo {
        &.home {
            img {
                width: 260px; //
            }
        }
    }
}