.arrow__up {
    fill: rgb(65, 200, 254);
    stroke: rgb(106, 78, 72);
    stroke-width: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 998;
    border: 2px rgb(65, 200, 254) solid;
    opacity: 0.4;

     &:hover {
      opacity: 1;
    }
  }

  