.wheel {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .wheel.savoirFaire::after {
    content: '';
    top: 0;
    width: 260px;
    height: 260px;
    border: 20px rgb(22, 145, 221) solid;
    background-color: rgba(214,194,120,255);
    border-radius: 50%;
    z-index: 99;
  }

  .wheel.outils::after {
    content: '';
    top: 0;
    width: 260px;
    height: 260px;
    border: 20px black solid;
    background-color: rgba(214,194,120,255);
    border-radius: 50%;
    z-index: 99;
  }

  .wheel.adevelopper::after {
    content: '';
    top: 0;
    width: 260px;
    height: 260px;
    border: 20px red solid;
    background-color: rgba(214,194,120,255);
    border-radius: 50%;
    z-index: 99;
  }

  .wheel.savoirEtre::after {
    content: '';
    top: 0;
    width: 260px;
    height: 260px;
    border: 20px rgb(251, 227, 5) solid;
    background-color: rgba(214,194,120,255);
    border-radius: 50%;
    z-index: 99;
  }

  .wheel.langagesetframeworks::after {
    content: '';
    top: 0;
    width: 260px;
    height: 260px;
    border: 20px rgb(7, 164, 7) solid;
    background-color: rgba(214,194,120,255);
    border-radius: 50%;
    z-index: 99;
  }


  .wheel__title {
    position: absolute;
    height: 30px;
    z-index: 100;
    color: white;
    text-align: center;
  }