.header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 999;
    visibility: hidden;
    background-color: transparent;
    transition: all 0.4s ease;
}

.header.scrolled--target--about {
    visibility: visible;
    background-color: rgb(1, 54, 86);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
}

.header.scrolled--target--skills{
    visibility: visible;
    background-color: white;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
}

.header.scrolled--target--projects {
    visibility: visible;
    background-color: rgb(1, 54, 86);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
}

.header.scrolled--target--contact{
    visibility: visible;
    background-color: white;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
}

.header__logo {
    position: relative;
    width: 115px;
    height: 80px;
    margin-left: 15%;
}

.header__navigation {
    display: flex;
    margin-right: 10%;
}

.navigation__list{
    display: flex;
    margin-bottom: 0;
}

.navigation__list--item {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.navigation__item--link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 120px;
    margin-left: 20px;
}

.header__svg--brown {
    font-size: 28px;
    fill: rgb(106, 78, 72);
    stroke:rgb(65, 200, 254);
    stroke-width: 20px;
    margin-bottom: 10px;
}

.header__svg--blue {
    font-size: 28px;
    fill: rgb(65, 200, 254) ;
    stroke:rgb(106, 78, 72);
    stroke-width: 20px;
    margin-bottom: 10px;
}

.header__title--brown {
    margin: 0;
    font-weight: bold;
    color: rgb(195, 165, 158);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.header__title--brown.inactif {
    opacity: 0;
    transform: translateY(-100%);
}

.header__title--blue {
    margin: 0;
    font-weight: bold;
    color: rgb(65, 200, 254);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.header__title--blue.inactif {
    opacity: 0;
    transform: translateY(-100%);
}
  
.navigation__item--link:hover .header__title--blue {
    opacity: 1;
    transform: translateY(0);
}

.navigation__item--link:hover .header__title--brown {
    opacity: 1;
    transform: translateY(0);
}