.header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 999;
    visibility: hidden;
    background-color: transparent;
    transition: all 0.4s ease;

    &.scrolled--target--about {
        visibility: visible;
        background-color: rgb(1, 54, 86);
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
    }

    &.scrolled--target--skills{
        visibility: visible;
        background-color: white;
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
    }
    
    &.scrolled--target--projects {
        visibility: visible;
        background-color: rgb(1, 54, 86);
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
    }
    
    &.scrolled--target--contact{
        visibility: visible;
        background-color: white;
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
    }

    .header__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    

        .header__logo {
            margin-left: 5%;
            margin-bottom: 10px;
        }

        .header__navigation {
            display: flex;

            .navigation__list{
                display: flex;
                margin-bottom: 0;

                .navigation__list--item {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    text-align: center;
                    width: 120px;

                    .navigation__item--link {
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;

                        .header__svg {
                            font-size: 28px;
                            stroke-width: 20px;
                            margin-bottom: 10px;
                        }

                        .svg--brown {
                            fill: rgb(106, 78, 72);
                            stroke:rgb(65, 200, 254);
                        }

                        .svg--blue {
                            fill: rgb(65, 200, 254) ;
                            stroke:rgb(106, 78, 72);
                        }

                        .header__title  {
                            margin: 0;
                            font-weight: bold;
                            transition: opacity 0.3s ease, transform 0.3s ease;

                            &.inactif {
                                opacity: 0;
                                transform: translateY(-100%);
                            }
                        }

                        &:hover .header__title {
                            opacity: 1;
                            transform: translateY(0);
                        }

                        .title--brown {
                            color: rgb(195, 165, 158);
                        }

                        .title--blue {
                            color: rgb(65, 200, 254);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .header__header {
            .header__navigation {
                .navigation__list{
                    .navigation__list--item {
                        width: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .header {
        .header__header {

    
            .header__navigation {
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                margin-bottom: 0;
    
                .navigation__list{
                    justify-content: center;
                    align-items: center;
                    padding: 0;
    
                    .navigation__list--item {
                        width: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .header {
        .header__header {
            .header__navigation {
                .navigation__list{
                    .navigation__list--item {
                        width: 80px;
                        
                        &:first-child {
                            display: none;
                          }
    
                        .navigation__item--link {
                            .header__svg {
                                font-size: 26px;
                            }

                            .header__title  {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header {    
        .header__header {

            .header__navigation {
                .navigation__list{
                    .navigation__list--item {
                        width: 70px;
    
                        .navigation__item--link {
                            .header__svg {
                                font-size: 24px;
                            }
    
                            .header__title  {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .header {    
        .header__header {
            .header__logo {
                margin-left: 1%;
            }
            .header__navigation {
                .navigation__list{
                    .navigation__list--item {
                        width: 60px;
    
                        .navigation__item--link {
                            .header__title  {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .header {    
        .header__header {
    
            .header__navigation {
                .navigation__list{
                    .navigation__list--item {
                        width: 65px;
    
                        .navigation__item--link {
                            .header__title  {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .header {    
        .header__header {
    
            .header__navigation {
                .navigation__list{
                    .navigation__list--item {
                        width: 60px;
    
                        .navigation__item--link {
                            .header__title  {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

